# 5.3 Listen
Eine Art der _Python_-Container ist [_list_](https://docs.python.org/3/tutorial/datastructures.html#more-on-lists). Viele der in diesem Abschnitt gezeigten Fähigkeiten gelten jedoch darüber hinaus für alle Arten von Sequenzen.

### Erstellen einer Liste

Listen können einfach durch eine Komma-separierte Liste von Werten erstellt werden, die in eckigen Klammern (`[]`) stehen.

In [59]:
c = [-45, 6, 0, 72, 1543]

In [60]:
c

[-45, 6, 0, 72, 1543]

In [61]:
print(c)

[-45, 6, 0, 72, 1543]

In [62]:
c2 = ['John', 'Doe', 25]

In [5]:
c2

['John', 'Doe', 25]

Die Funktion `list()` nimmt eine Sequenz und wandelt diese in eine Liste. Hier ein Beispiel mit eine Zeichenkette:

In [64]:
c3 = list('Das Reh springt hoch, das Reh springt weit. Warum auch nicht, es hat ja Zeit.')

In [66]:
print(c3)

['D', 'a', 's', ' ', 'R', 'e', 'h', ' ', 's', 'p', 'r', 'i', 'n', 'g', 't', ' ', 'h', 'o', 'c', 'h', ',', ' ', 'd', 'a', 's', ' ', 'R', 'e', 'h', ' ', 's', 'p', 'r', 'i', 'n', 'g', 't', ' ', 'w', 'e', 'i', 't', '.', ' ', 'W', 'a', 'r', 'u', 'm', ' ', 'a', 'u', 'c', 'h', ' ', 'n', 'i', 'c', 'h', 't', ',', ' ', 'e', 's', ' ', 'h', 'a', 't', ' ', 'j', 'a', ' ', 'Z', 'e', 'i', 't', '.']

### Bestimmen der Länge einer Liste

In [21]:
len(c)

5

In [67]:
len(c3)

77

### Zugriff auf Elemente einer Liste mittels Index
Wie Zeichenketten erlauben auch Listen den Zugriff auf einzelne Elemente mit Hilfe des _Index_-Operators (`[]`). Sie erlauben ebenfalls _slicing_.

In [19]:
c[0]

-45

In [20]:
c[4]

17

### Zugriff auf Elemente vom Ende der Liste mit negativen Indizes
Auch auf die Listen kann vom Ende her zugegriffen werden, indem _negative Indizes_ verwendet werden:

In [9]:
c[-1]

1543

In [10]:
c[-5]

-45

### Versuch, auf ein nicht existierendes Element zuzugreifen
Indexwerte müssen im zulässigen Bereich liegen und dürfen nicht über das Listenende hinaus auf Elemente zugreifen.

In [24]:
c

[-45, 6, 0, 72, 17]

In [26]:
# Uncomment to raise error:
#c[5]                     # --> IndexError: list index out of range

---------------------------------------------------------------------------
IndexError                                Traceback (most recent call last)
Cell In[25], line 1
----> 1 c[5]

IndexError: list index out of range

### Listen sind veränderlich

Anders als Zeichenketten sind Listen veränderliche Objekte. Man. sagt auch der Datentyp `list` ist _mutable_. Daher kann der _Index_-Operator bei Listen auch sinnvoll auf der linken Seite als Destination einer Zuweisung verwendet werden.

In [16]:
c

[-45, 6, 0, 72, 1543]

In [17]:
c[4] = 17

In [18]:
c

[-45, 6, 0, 72, 17]

Das geht auch mit _Slices_ für mehrere Elemente gleichzeitig:

In [27]:
c[1:3] = [-1]*3

In [28]:
c

[-45, -1, -1, -1, 72, 17]

> Hinweise: mit `[-1]*3` wird eine Liste mit drei Elemente vom Werte `-1` erzeugt, die dann Element für Element in den Schnitt der Liste `c` eingefügt werden. Schnitt und neue Liste müssen die gleiche Anzahl Elemente haben.

In [29]:
[-1]*3

[-1, -1, -1]

### Verwendung von Listenelementen in Ausdrücken

In [30]:
c

[-45, -1, -1, -1, 72, 17]

In [31]:
c[0] + c[1] + c[2]

-47

### Listen erweitern

Listen können um einzelne Elemente, oder um andere Listen erweitert werden. Natürlaich kann auch eine Liste als Element in eine Liste eingefügt werden. Dazu werden später die Methoden `.append()` und `.extend()` verwendet. Hier ein kurzes Beispiel einer Liste, mit Listen als Elementen.

In [43]:
another_lst = [1, [2, 3], [4, 5, [7, 8, 9]]]
print(another_lst)

[1, [2, 3], [4, 5, [7, 8, 9]]]

In [44]:
len(another_lst)

3

In [46]:
for e in another_lst:
    print(type(e), '->', e)

<class 'int'> -> 1
<class 'list'> -> [2, 3]
<class 'list'> -> [4, 5, [7, 8, 9]]

### Erweitern einer Liste mit +=
Die Listen können dynamisch wachsen, um neue Elemente aufzunehmen.

In [32]:
a_list = []

In [47]:
for number in range(1, 6):
    a_list += [number]          # number needs to be packaged in a list []

In [34]:
a_list

[1, 2, 3, 4, 5]

Wenn der linke Operand von `+=` eine Liste ist, muss der rechte Operand ein _iterierbares_ Objekt sein; andernfalls tritt ein `TypeError` auf.

In [53]:
# Uncomment to raise error:
#a_list += number         # --> TypeError: 'int' object is not iterable

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[51], line 1
----> 1 a_list += number

TypeError: 'int' object is not iterable

In [48]:
letters = []

In [54]:
letters += 'Python'      # OK: string is iterable

In [50]:
letters

['P', 'y', 't', 'h', 'o', 'n']

### Verkettung von Listen mit +
Zwei Listen, zwei Tupel oder zwei Zeichenketten können mit dem `+` verkettet werden, um eine _neue_ Sequenz desselben Typs zu erzeugen.

In [55]:
list1 = [10, 20, 30]

In [56]:
list2 = [40, 50]

In [57]:
concatenated_list = list1 + list2

In [58]:
concatenated_list

[10, 20, 30, 40, 50]

### Vergleichsoperatoren
* Listen können Element für Element verglichen werden.
* Zwei Listen sind "gleich", wenn sie die gleichen Elemente in derselben Reihenfolge haben.

In [ ]:
a = [1, 2, 3]

In [ ]:
b = [1, 2, 3]

In [ ]:
c = [1, 2, 3, 4]

In [ ]:
a == b   # Wahr: die entsprechenden Elemente sind gleich

In [ ]:
a == c   # Falsch: unterschiedliche Längen

In [ ]:
a < c  # True, a hat weniger Elemente

In [ ]:
c >= b  # Wahr: Elemente mit Index 0-2 sind gleich, aber c hat mehr Elemente

In [ ]:
d = [1, 3]

In [ ]:
d < a