# Most valuable lesson for tupel

tuple are not modifiable

## singleton

In [57]:
tuple = (10,)
print(tuple)

(10,)

In [58]:
tuple += (20,)
print(tuple)

(10, 20)

In [59]:
ten, twenty = tuple
print(ten)
print(twenty)

10
20

## with list

In [60]:
new_list = [tuple, 30, 40]
print(new_list)

[(10, 20), 30, 40]

In [61]:
tuple_list = ('new', 'tuple', new_list)
print(tuple_list)

tuple_list[2][1] = 300000
print(tuple_list)

('new', 'tuple', [(10, 20), 30, 40])
('new', 'tuple', [(10, 20), 300000, 40])

## range

In [62]:
number1, number2, number3 = range(10, 40, 10)
print(f'{number1}  {number2}  {number3}')

10  20  30